body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#current-cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  z-index: 100;
}

.content {
  padding: 20px;
}

#informationId {
  margin-bottom: 20px;
}

.detect-webdriver-title {
  font-weight: bold;
}
